<!--Skip to content Why GitHub? Team Enterprise Explore Marketplace Pricing Search Sign in Sign up ZeroCho / nodejs-book Public 453422 Code Issues 42 Pull requests Actions Projects Wiki Security Insights
nodejs-book/ch9/9.1/nodebird/views/layout.html @ZeroCho ZeroCho Update: 9.5 Latest commit ad4964f on 23 Dec 2019 History 1 contributor 62 lines (62 sloc) 2.25 KB -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <div class="container">
            <div class="profile-wrap">
                <div class="profile">
                    {% if user and user.id %}
                    <div class="user-name">{{'안녕하세요! ' + user.nickname + '님'}}</div>
                    <div class="half">
                        <div>팔로잉</div>
                        <div class="count following-count">{{followingCount}}</div>
                    </div>
                    <div class="half">
                        <div>팔로워</div>
                        <div class="count follower-count">{{followerCount}}</div>
                    </div>
                    <input id="my-id" type="hidden" value="{{user.id}}" />
                    <a id="my-profile" href="/profile" class="btn">내 프로필</a>
                    <a id="signout" href="/auth/signout" class="btn">로그아웃</a>
                    {% else %}
                    <form id="login-form" action="/auth/signin" method="post">
                        <div class="input-group">
                            <label for="email">이메일</label>
                            <input id="email" type="email" name="email" required autofocus />
                        </div>
                        <div class="input-group">
                            <label for="password">비밀번호</label>
                            <input id="password" type="password" name="password" required />
                        </div>
                        <a id="signup" href="/signup" class="btn">회원가입</a>
                        <button id="signin" type="submit" class="btn">로그인</button>
                        <a id="kakao" href="/auth/kakao" class="btn">카카오톡</a>
                    </form>
                    {% endif %}
                </div>
                <footer>
                    Made by&nbsp;
                    <a href="https://www.zerocho.com" target="_blank">ZeroCho</a>
                </footer>
            </div>
            {% block content %} {% endblock %}
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            window.onload = () => {
                if (new URL(location.href).searchParams.get('signinError')) {
                    alert(new URL(location.href).searchParams.get('signinError'));
                }
            };
        </script>
        {% block script %} {% endblock %}
    </body>
</html>
© 2021 GitHub, Inc. Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About Loading complete
