<!DOCTYPE html>
<html>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="5" cellspacing="0" width="600">
                        <tbody>
                            <tr>
                                <td align="center" valign="center">
                                    <div style="text-align: center; padding: 0 0 20px 0; font-size: xx-large; font-weight: bold; color: brown; line-height: 1.5; width: 75%">Block Chain Vote</div>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="2" cellspacing="0" height="2" width="75%">
                                        <tbody>
                                            <tr>
                                                <td
                                                    align="center"
                                                    valign="middle"
                                                    style="background-color: rgb(220, 220, 220); --darkreader-inline-bgcolor: #222426"
                                                    width="100"
                                                    data-darkreader-inline-bgcolor=""
                                                ></td>
                                                <td
                                                    align="center"
                                                    valign="middle"
                                                    style="background-color: brown; --darkreader-inline-bgcolor: #4100a1"
                                                    width="250"
                                                    data-darkreader-inline-bgcolor=""
                                                ></td>
                                                <td
                                                    align="center"
                                                    valign="middle"
                                                    style="background-color: rgb(220, 220, 220); --darkreader-inline-bgcolor: #222426"
                                                    width="100"
                                                    data-darkreader-inline-bgcolor=""
                                                ></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" , valign="center">
                                    <table border="0" cellpadding="10" cellspacing="0" height="1" width="100%">
                                        <tbody>
                                            <tr>
                                                <div style="text-align: center; padding-top: 20px; padding-bottom: 20px; font-size: 16px; line-height: 1.5; width: 75%">
                                                    Hello. <b style="color: brown"> <%= email %> </b> .
                                                </div>
                                                <div style="text-align: left; padding-bottom: 20px; font-size: 14px; line-height: 1.5; width: 75%">
                                                    This is the authentication code for the email authentication service. <br />
                                                    Please complete the authentication by entering the authentication number below.
                                                </div>
                                                <div style="background: rgb(250, 250, 250); border: 2px solid rgb(200, 200, 200); text-align: center; font-size: 26px; line-height: 2.5; width: 75%">
                                                    <b style="color: rgb(32, 96, 128)"><%= authCode %></b>
                                                </div>
                                                <div
                                                    style="
                                                        text-align: center;
                                                        padding-top: 3px;
                                                        padding-bottom: 10px;
                                                        font-size: 12px;
                                                        font-style: oblique;
                                                        font-weight: bold;
                                                        line-height: 1.5;
                                                        width: 75%;
                                                    "
                                                >
                                                    <p style="color: red">This authentication code expires on <b> <%= expirationTime %> </b> .</p>
                                                </div>
                                                <div style="text-align: left; padding-bottom: 10px; font-size: 14px; line-height: 1.5; width: 75%">
                                                    If the code doesn't work, please request a new authentication code.
                                                </div>
                                                <div style="text-align: left; padding-bottom: 10px; font-size: 14px; line-height: 1.5; width: 75%">
                                                    If you have any additional questions, please contact <a href="blockchainvoteservice@gmail.com">blockchainvoteservice@gmail.com</a> .
                                                </div>
                                                <div style="text-align: left; padding-top: 20px; padding-bottom: 20px; font-size: 12px; line-height: 1.5; width: 75%">
                                                    <p style="font-style: normal; font-weight: bold">
                                                        Thank you, <br />
                                                        The block chain vote customer service team.
                                                    </p>
                                                </div>
                                                <div style="text-align: center; padding-top: 20px; font-size: 12px; line-height: 1; width: 75%">
                                                    <p style="font-style: italic; font-weight: bold">Ajou Univ. Team abcd.</p>
                                                </div>
                                                <div style="text-align: center; font-size: 12px; line-height: 1; width: 75%">
                                                    <p style="font-style: italic; font-weight: bold">© 2021 Block chain vote, All Rights Reserved.</p>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</html>
